<style>
	body{
		background color: <% @color %>;
	}
</style>

<%= link_to "Delete All", delete_all_url, :method => "delete", :confirm => "Are You Sure?" %>

<iframe width="560" height="315" src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>

<%= link_to "Add a New Picture", new_picture_path %>
	<p>Lucid Living</p>
 <ul>
 	
<% @pictures.each do |p| %>
	
  <li>	  	
 	
	
	<%= link_to image_tag(p.url, :width => 800), picture_path(p.id) %>
		<p><%= p.title %><p>
	
	</li>

 <% end %>
	
 </ul>

